.Card {
  padding: 10px;
  color: white;
  border: 1px solid lightblue;
  background-color: lightblue;
  border-radius: 10px;
  margin-top: 10px;
}

.Card:hover {
  border: 1px solid blue;
  background-color: blue;
}

.Card.disabled {
    border: 1px solid lightgray;
    background-color: lightgray;
}